@charset "UTF-8";

* {
    padding: 5px;
    margin: 0px;
    box-sizing: border-box;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: .5rem;
    grid-auto-rows: 150px;
    

}

.wrapper > * {
    background-color: royalblue;
    padding: 10px;
}

.wrapper > *:nth-child(even) {
    background-color: skyblue;
}
